* {
  box-sizing: border-box; }

html,
body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0; }

.app {
  width: 100vw;
  height: 100vh;
  display: flex; }
  .app__uploader {
    flex: 0 0 auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d056e6; }
    .app__uploader--activate {
      opacity: 0.5; }
    .app__uploader__file-name {
      height: 15%;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #d056e6;
      font-size: 20px;
      font-weight: bold; }
    .app__uploader__wall-art {
      height: 65%;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .app__uploader__wall-art img {
        max-width: 100%;
        max-height: 100%; }
    .app__uploader__icon-area {
      height: 20%;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px; }
      .app__uploader__icon-area__icon {
        flex: 0 0 auto;
        width: 90px; }
      .app__uploader__icon-area__text {
        font-size: 14px;
        letter-spacing: 0.5px;
        margin-top: 5px; }
    .app__uploader__button-area {
      flex: 0 0 auto;
      text-align: center;
      padding: 30px; }
      .app__uploader__button-area__button {
        border: none;
        outline: none;
        padding: 6px 12px;
        font-size: 12px;
        text-transform: uppercase;
        background-color: #d056e6;
        color: #fff;
        border-radius: 3px;
        overflow: hidden;
        cursor: pointer; }
  .app__workspace {
    flex: 0 0 auto;
    width: 50vw;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; }
    .app__workspace__catalog-resume {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center; }
    .app__workspace__title {
      height: 50px;
      font-size: 26px;
      display: flex;
      align-items: center; }
    .app__workspace__company-name {
      height: 50px;
      font-size: 46px;
      display: flex;
      align-items: center; }
    .app__workspace__version {
      color: gray;
      height: 50px;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center; }
    .app__workspace__logo-container {
      height: 180px;
      display: flex;
      align-items: center; }
    .app__workspace__logo {
      height: 160px; }
    .app__workspace__copyright {
      color: gray;
      height: 50px;
      font-size: 12px;
      display: flex;
      align-items: center; }
    .app__workspace__print {
      height: 50px;
      display: flex;
      align-items: center; }
    .app__workspace__print-button {
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer; }
    .app__workspace__notif-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center; }
    .app__workspace__notif-frame {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .app__workspace__notif-text {
      text-align: center;
      font-size: 26px;
      margin-bottom: 10px; }
    .app__workspace__notif-action {
      text-align: center;
      font-size: 18px; }

.formBackground {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

.formBackground > form > label {
  font-weight: 350; }

.titleHeader {
  padding: 10px 20px 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 20px; }

input[type="text"],
select, textarea {
  font-size: 16px;
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

textarea {
  resize: none; }

input[type="text"]:focus, textarea:focus {
  background-color: lightblue; }

input[type="submit"] {
  font-size: large;
  font-weight: bold;
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type="submit"]:hover {
  background-color: #45a049; }

.checkboxList, .pricesList {
  width: 100%;
  padding: 12px 12px;
  margin: 4px 0px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.checkboxList label, .pricesList label {
  padding: 5px; }

.checkboxList > div, .pricesList > div {
  margin-bottom: 10px; }

.checkboxList > legend, .pricesList legend {
  font-weight: 350; }

.priceContainer {
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px solid #ccc; }

.priceControls {
  display: flex;
  width: 100%;
  justify-content: end; }

.priceControls input {
  font-size: medium;
  font-weight: bold;
  color: white;
  padding: 12px 16px;
  margin: 16px 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
